*.dns filter=lfs diff=lfs merge=lfs -text
RooneyMcNibNugsSNAFUlist.dns filter=lfs diff=lfs merge=lfs -text
ChadMayfieldAll.dns filter=lfs diff=lfs merge=lfs -text
FabricePrigentsCryptojacking.dns filter=lfs diff=lfs merge=lfs -text
AdguardDNS.dns filter=lfs diff=lfs merge=lfs -text
Fademinds2o7NetworkTrackers.dns filter=lfs diff=lfs merge=lfs -text
GeoffreyFrogeyesMulti-PartyTrackers.dns filter=lfs diff=lfs merge=lfs -text
hostsVN.dns filter=lfs diff=lfs merge=lfs -text
Mahakala.dns filter=lfs diff=lfs merge=lfs -text
QuidsupMalicious.dns filter=lfs diff=lfs merge=lfs -text
TurkeyHighRiskPhishingBlacklist.dns filter=lfs diff=lfs merge=lfs -text
Vokinsyhosts.dns filter=lfs diff=lfs merge=lfs -text
AdAway.dns filter=lfs diff=lfs merge=lfs -text
Winhelp2002MVPS.dns filter=lfs diff=lfs merge=lfs -text
AndyShort.dns filter=lfs diff=lfs merge=lfs -text
SomeoneWhoCares.dns filter=lfs diff=lfs merge=lfs -text
ShallaMalicious.dns filter=lfs diff=lfs merge=lfs -text
DigitalSideThreat-Intel.dns filter=lfs diff=lfs merge=lfs -text
FademindsUncheckyAds.dns filter=lfs diff=lfs merge=lfs -text
Lightswitch05sAdsTracking.dns filter=lfs diff=lfs merge=lfs -text
PerflystsAmazonFireTVDomains.dns filter=lfs diff=lfs merge=lfs -text
QuidsupTrackers.dns filter=lfs diff=lfs merge=lfs -text
AnudeepNDsBlacklist.dns filter=lfs diff=lfs merge=lfs -text
KowabitBoD.dns filter=lfs diff=lfs merge=lfs -text
WaLLy3KsBlacklist.dns filter=lfs diff=lfs merge=lfs -text
DandelionSproutsAntiMalwareFilter.dns filter=lfs diff=lfs merge=lfs -text
PeterLowesAdservers.dns filter=lfs diff=lfs merge=lfs -text
ChadMayfieldTop1M.dns filter=lfs diff=lfs merge=lfs -text
Easyprivacy.dns filter=lfs diff=lfs merge=lfs -text
DisconnectAds.dns filter=lfs diff=lfs merge=lfs -text
AirelleHighRisk.dns filter=lfs diff=lfs merge=lfs -text
FademindsSpammers.dns filter=lfs diff=lfs merge=lfs -text
JdlingyusAd-wars.dns filter=lfs diff=lfs merge=lfs -text
PerflystsSmartTVDomains.dns filter=lfs diff=lfs merge=lfs -text
MatomoReferrerSpam.dns filter=lfs diff=lfs merge=lfs -text
DNS-BHMalware.dns filter=lfs diff=lfs merge=lfs -text
FabricePrigentsMalware.dns filter=lfs diff=lfs merge=lfs -text
URLhausMaliciousURLblocklist.dns filter=lfs diff=lfs merge=lfs -text
AirelleTrackers.dns filter=lfs diff=lfs merge=lfs -text
FademindsRiskyHosts.dns filter=lfs diff=lfs merge=lfs -text
PhishingArmysExtendedBlocklist.dns filter=lfs diff=lfs merge=lfs -text
Spam404.dns filter=lfs diff=lfs merge=lfs -text
DisconnectMalvertising.dns filter=lfs diff=lfs merge=lfs -text
ImmortalMalwareDomains.dns filter=lfs diff=lfs merge=lfs -text
MandiantAPT1Report.dns filter=lfs diff=lfs merge=lfs -text
PolishFiltersTeamKADhosts.dns filter=lfs diff=lfs merge=lfs -text
FabricePrigentsAds.dns filter=lfs diff=lfs merge=lfs -text
BillStearn.dns filter=lfs diff=lfs merge=lfs -text
Easylist.dns filter=lfs diff=lfs merge=lfs -text
LanikSJsAdmiralAnti-Adblock.dns filter=lfs diff=lfs merge=lfs -text
AnudeepNDsFacebookBlacklist.dns filter=lfs diff=lfs merge=lfs -text
GeoffreyFrogeyesFirst-PartyTrackers.dns filter=lfs diff=lfs merge=lfs -text
PerflystsAndroidTrackers.dns filter=lfs diff=lfs merge=lfs -text
ZeroDot1CoinBlockerLists.dns filter=lfs diff=lfs merge=lfs -text
CrazyMaxsMicrosoftTelemetry.dns filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
